@model Bugify.UI.Models.TaskListViewModel

<a asp-controller="Task"
    asp-action="Details"
    asp-route-id="@Model.Id"
    class="text-decoration-none text-dark">
    <div class="card">
        <div><strong>@Model.Title</strong></div>
    
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div>@Model.Description</div>
        }
    
        @if (!Model.DueDate.HasValue)
        {
            <div style="font-size: 12px; opacity: 0.7;">
                Termin: @Model.DueDate.Value.ToString("dd.MM.yyyy")
            </div>
        }
    </div>
</a>


